__pycache__/
.vscode/
data/*
!data/.gitkeep
raw_data/*
!raw_data/.gitkeep
logs/*
!logs/.gitkeep
evaluate_scripts/.vscode/
evaluate_scripts/denovo/
evaluate_scripts/frag/
evaluate_scripts/linker/
evaluate_scripts/scaffold/
evaluate_scripts/sidechain/
evaluate_scripts/exp_*.sh
evaluate_scripts/tmp
repo/datasets/__pycache__
repo/models/__pycache__
repo/modules/__pycache__
repo/tools/__pycache__
repo/utils/__pycache__
results/*
!results/.gitkeep
scripts/case_binding
scripts/*.pdf
scripts/*.png
tools/
*.zip